*{
	font-family: 'Noto Sans Mono', monospace;
	margin: auto;
	

}
body{
	margin: 0rem;
	background-color: rgba(248, 0, 34, 0.671);
				
}

.header{
		background: rgba(0, 255, 76, 0);
		
		position: relative;
		height: 2rem;
		background: rgba(255, 255, 255, 0.329);
border-radius: 2px;
box-shadow: 1px 10px 10px rgba(3, 1, 1, 0.247);
backdrop-filter: blur(9.2px);
-webkit-backdrop-filter: blur(9.2px);
border: 1px solid rgba(255, 255, 255, 0.01);
		
}

/* Logo Section */
h2{
				width: auto;
				font-size: 1.5em;
				float: left;
				color: rgb(255, 255, 255);
				margin-left: 10px;
}



/* welcome */
.wel{
				display: flex;
				align-items: center;
				font-size: 1.5rem;
				color: white;
				background: black;
				margin: 1.5rem 0 0 0;
				height: 8rem;
				border-radius: 10px;
				/* From https://css.glass */
background: rgba(255, 255, 255, 0.329);
border-radius: 16px;
box-shadow: 1px 10px 10px rgba(3, 1, 1, 0.247);
backdrop-filter: blur(9.2px);
-webkit-backdrop-filter: blur(9.2px);
border: 1px solid rgba(255, 255, 255, 0.01);
			
}




/* Project Section */
h4{
				display: flex;
				justify-content: center;
				color: rgb(255, 255, 255);
				background: transparent;
				margin: 0 0 0rem 0;
				font-size: 1.2rem;
			
}

.project{
				background: black;
				margin: 1rem 0 0 0;
				border-radius: 10px;
				background: rgba(255, 255, 255, 0.329);
border-radius: 16px;
box-shadow: 1px 10px 10px rgba(3, 1, 1, 0.247);
backdrop-filter: blur(9.2px);
-webkit-backdrop-filter: blur(9.2px);
border: 1px solid rgba(255, 255, 255, 0.01);
}
.projects{
				width:auto;
				
				height: 10rem;
				position: relative;
				color: white;
				display:flex;
				justify-content: center;
				align-items: center;
			
}
p1{
	position: absolute;
}	


/* About Section */
.About{
     	position: absolute;
		border-radius: 10px;
		background: black;
		margin: 1rem 0 0 0;
		height: auto;
		width: 45%;
		background: rgba(255, 255, 255, 0.329);
border-radius: 16px;
box-shadow: 1px 10px 10px rgba(3, 1, 1, 0.247);
backdrop-filter: blur(9.2px);
-webkit-backdrop-filter: blur(9.2px);
border: 1px solid rgba(255, 255, 255, 0.01);
				
				
}
.aboutme{
		color: white;
		
		padding: 25px;
		display: grid;
		
		align-content: center;
}
img{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	border-radius: 10px;
	
}
p2{
				margin: 1rem 0 0 0;
}
p1,p2{
	display: flex;
	justify-content: center;
	align-content: center;

}

/* Contact Section */
.contact{
     	position: absolute;
		margin: 1rem 0 0 0;
		background: black;
		color:white;
		width: 45%;
		height: auto;
		margin-left: 55% ;
		border-radius: 10px;
		background: rgba(255, 255, 255, 0.329);
border-radius: 16px;
box-shadow: 1px 10px 10px rgba(3, 1, 1, 0.247);
backdrop-filter: blur(9.2px);
-webkit-backdrop-filter: blur(9.2px);
border: 1px solid rgba(255, 255, 255, 0.01);
	
}
.contactme{
				
			display: flex;
			align-items: center;
			margin-left: 1%;
			justify-content: center;
			width: auto;
			height: 15rem;
			
			padding: 0 ;
				
} 
.container{
	
	
	width: auto;
	
}
